.menu {
    display: flex;
    flex-wrap: wrap;
    margin-inline: 10%;
    justify-content: center;

}

.modalProducts {
    display: flex;
    flex-direction: wrap;
    width: 100%;
}

.modalButton {
    border: none;
    padding: 0;
    margin: 0;
    background-color: unset;
}

.imgButton {
    padding: 0;
    margin: 10px;
    width: 480px;
}

.imgButton:hover {
    box-shadow: 7px 7px 7px var(--shadow-color);
    transition: 0.2s;
    scale: 1.02;
    
}

.modal-header, .modal-footer {
    background-color: var(--quartenary-color);
    border: 0;
}

h5, p {
    color: var(--color-text-black);
}

.modal-body {
    background-color: var(--terciary-color);
}

.menuItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuItem button {
    background-color: var(--color-text-black);
    color: var(--color-text-white);
    border: none;
    border-radius: 0.5rem;
    height: 30px;
}

.modal-footer button {
    background-color:var(--color-text-black);
    border: none;
}

@media(max-width:1250px){

    .menu {
        margin-inline: 5%;
    }
    
    .imgButton {
        width: 400px;
    }   
}

@media(max-width:432px) {

    .imgButton {
        width: 359px;
    }
}